@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";


.container-1 {
    margin: 20px;
    margin-top: 50px;
}

.bg-img { /*ih cita video youtube*/
    object-fit: cover;
    z-index: -5px;
}
.hero{
    position: relative;

}